version: '3.8'

services:
  web:
    build: .
    ports:
      - "${WEB_PORT}:80"
    volumes:
      - .:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    env_file:
      - .env
    restart: always
    depends_on:
      - api

  api:
    build: ./backend
    restart: always
    ports:
      - "${API_PORT}:3000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./backend:/app
      - /app/node_modules

  db:
    image: mysql:8.0
    restart: always
    command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    env_file:
      - .env
    volumes:
      - ./db/data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "${DB_PORT}:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    env_file:
      - .env
    ports:
      - "${PMA_PORT}:80"
    depends_on:
      - db

volumes:
  db_data:
