<footer id="contact">
    <div class="container">
        <div class="footer-content grid-4">
            <div class="footer-col">
                <h3>ติดต่อเรา</h3>
                <p>คณะครุศาสตร์ <br>มหาวิทยาลัยราชภัฏหมู่บ้านจอมบึง</p>
                <p>46 หมู่ 3 ต.จอมบึง อ.จอมบึง <br>จ.ราชบุรี 70150</p>
            </div>
            <div class="footer-col">
                <h3>ลิงก์ด่วน</h3>
                <ul>
                    <li><a href="#">ระบบบริการการศึกษา</a></li>
                    <li><a href="#">ห้องสมุด</a></li>
                    <li><a href="#">ปฏิทินวิชาการ</a></li>
                    <li><a href="#">ดาวน์โหลดเอกสาร</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>ติดตามเรา</h3>
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-line"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
            <div class="footer-col">
                <h3>สำหรับผู้ดูแลระบบ</h3>
                <a href="login.html" class="btn btn-outline text-white btn-sm">เข้าสู่ระบบ</a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Education Faculty, Muban Chombueng Rajabhat University. All Rights Reserved.
            </p>
        </div>
    </div>
</footer>